apiVersion: v1
kind: ConfigMap
metadata:
  name: backstage-dynamic-plugins
  namespace: backstage
data:
  app-config.dynamic-plugins.yaml: |
    includes:
      - "dynamic-plugins.default.yaml"
    plugins:
      - package: ./dynamic-plugins/dist/backstage-community-plugin-catalog-backend-module-keycloak-dynamic
        disabled: false
      - package: ./dynamic-plugins/dist/backstage-plugin-kubernetes-backend-dynamic
        disabled: false
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-global-header
        disabled: false
      - package: ./dynamic-plugins/dist/backstage-plugin-kubernetes
        disabled: false
      - package: ./dynamic-plugins/dist/backstage-community-plugin-topology
        disabled: false
      - package: ./dynamic-plugins/dist/backstage-plugin-notifications
        disabled: false
      - package: ./dynamic-plugins/dist/backstage-plugin-notifications-backend-dynamic
        disabled: false
      - package: ./dynamic-plugins/dist/backstage-plugin-signals-backend-dynamic
        disabled: false
      - package: ./dynamic-plugins/dist/backstage-plugin-signals
        disabled: false
        
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-quickstart
        disabled: true    
      - package: ./dynamic-plugins/dist/backstage-community-plugin-analytics-provider-segment
        disabled: true
      - package: ./dynamic-plugins/dist/backstage-community-plugin-scaffolder-backend-module-kubernetes-dynamic
        disabled: true
      - package: ./dynamic-plugins/dist/backstage-community-plugin-scaffolder-backend-module-quay-dynamic
        disabled: true
      - package: ./dynamic-plugins/dist/backstage-community-plugin-scaffolder-backend-module-regex-dynamic
        disabled: true
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-analytics-module-adoption-insights-dynamic
        disabled: true
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-quickstart
        disabled: true

      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-catalog-backend-module-marketplace-dynamic
        disabled: false
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-marketplace-backend-dynamic
        disabled: false
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-marketplace
        disabled: false

      - disabled: false
        package: "https://github.com/TheCodingSheikh/backstage-plugins/releases/download/17973327717-1/terasky-backstage-plugin-kubernetes-ingestor-dynamic-2.1.0.tgz"
        integrity: sha512-Q1FhXNP4EJVaRpuOjp/rdLOgR2ymjdxXqjkSvgN1IuF+S6Mg3pALgxvIlvmkyc1M/gm7H80PvzXLQKjoHRBJ5Q==
        pluginConfig:
          kubernetesIngestor:
            mappings:
              namespaceModel: 'default'
              nameModel: 'name-kind'
              titleModel: 'name'
              systemModel: 'namespace'
              referencesNamespaceModel: 'default'
            components:
              enabled: true
              taskRunner:
                frequency: 60
                timeout: 600
              onlyIngestAnnotatedResources: true
            crossplane:
              enabled: false

      - disabled: false
        package: "https://github.com/TheCodingSheikh/backstage-plugins/releases/download/19874095301-1/roadiehq-plugin-scaffolder-frontend-module-http-request-field-dynamic-2.3.0.tgz"
        integrity: sha512-tsixfJJtL6zBgdMltd3ngBj7FFM8wVunrSdRtY42nJ+N24MjZ8oqixRiArPDI1Z7siHz9Xc6ZWAlfCP0qEYx7Q==
        pluginConfig:        
          dynamicPlugins:
            frontend:
              roadiehq.plugin-scaffolder-frontend-module-http-request-field:
                scaffolderFieldExtensions:
                  - importName: SelectFieldFromApiExtension

      - disabled: false
        package: "https://github.com/TheCodingSheikh/backstage-plugins/releases/download/19874628921-1/thecodingsheikh-backstage-plugin-entity-scaffolder-dynamic-0.1.0.tgz"
        integrity: sha512-R7L5jy1qhvk27UUBZ7FZRvgEgEfGRXSjQmlFv3xNCwipwxF+TSAd2Tjy/C0l2KFydPZE73YI5/tiRcoyd7HLQA==
        pluginConfig:
          dynamicPlugins:
            frontend:
              thecodingsheikh.backstage-plugin-entity-scaffolder:
                entityTabs:
                  - path: /entity-scaffolder
                    title: Manage
                    mountPoint: entity.page.entity-scaffolder
                mountPoints:
                  - mountPoint: entity.page.entity-scaffolder/cards
                    importName: EntityScaffolderContent
                    config:
                      layout:
                        gridColumn: "1 / -1"
                      if:
                        allOf:
                          - isEntityScaffolderAvailable