apiVersion: v1
kind: ConfigMap
metadata:
  name: backstage-rbac
  namespace: backstage
data:
  rbac-policy.csv: |
    p, role:default/all_users, catalog-entity, update, deny
    p, role:default/all_users, catalog-entity, delete, deny
    
    g, group:default/user, role:default/all_users
  conditional-policies.yaml: |
    ---
    result: CONDITIONAL
    roleEntityRef: role:default/all_users
    pluginId: catalog
    resourceType: catalog-entity
    permissionMapping:
      - read
    conditions:
      anyOf:
        - not:
            rule: HAS_ANNOTATION
            resourceType: catalog-entity
            params:
              annotation: rbac:enabled
        - rule: IS_ENTITY_OWNER
          resourceType: catalog-entity
          params:
            claims: ["$ownerRefs"]