controllers:
  main:
    pod:
      annotations:
        inject-certs: "enabled"
    initContainers:
      install-dynamic-plugins:
        image:
          repository: quay.io/rhdh-community/rhdh
          tag: "1.9"
        command:
          - ./install-dynamic-plugins.sh
          - /dynamic-plugins-root
        env:
          SKIP_INTEGRITY_CHECK: "true"
          MAX_ENTRY_SIZE: "30000000"
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 2.5Gi
            ephemeral-storage: 5Gi
        securityContext:
          runAsUser: 0
        workingDir: /opt/app-root/src

    containers:
      main:
        image:
          repository: quay.io/rhdh-community/rhdh
          tag: "1.7"        
        env:
          NODE_EXTRA_CA_CERTS: /etc/ssl/certs/ca.crt
          ORGANIZATION_NAME: Lab
          LIGHTHOUSE_BASEURL: temp
          DYNATRACE_URL: temp
          PERMISSION_ENABLED: "false"
          GITHUB_HOST: "github.com"
          KEYCLOAK_BASE_URL: "https://sso.lab.com"
          KEYCLOAK_LOGIN_REALM: "lab"
          KEYCLOAK_REALM: "lab"
          KEYCLOAK_CLIENT_ID: "backstage"
          KEYCLOAK_CLIENT_SECRET: "IZuloslEZZXnYdbyE66Y2vgiBOemGuUe"
          K8S_CLUSTER_NAME: "lab"
          K8S_CLUSTER_URL: "https://kubernetes.default:443"
          K8S_CLUSTER_TOKEN:
            valueFrom:
              secretKeyRef:
                name: backstage-token
                key: token
          APP_SECRET_KEY:
            valueFrom:
              secretKeyRef:
                name: backstage
                key: secret-key
          GITHUB_TOKEN:
            valueFrom:
              secretKeyRef:
                name: backstage
                key: github-token
          POSTGRES_HOST:
            valueFrom:
              secretKeyRef:
                name: backstage
                key: host
          POSTGRES_PORT:
            valueFrom:
              secretKeyRef:
                name: backstage
                key: port
          POSTGRES_USER:
            valueFrom:
              secretKeyRef:
                name: backstage
                key: user
          POSTGRES_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: backstage
                key: password
        command:
          - node
          - packages/backend
        args:
          - --config
          - app-config.yaml
          - --config
          - dynamic-plugins-root/app-config.dynamic-plugins.yaml
          - --config
          - /opt/app-root/src/app-config.k8s.yaml

        resources:
          requests:
            cpu: 250m
            memory: 1Gi
          limits:
            cpu: 1000m
            memory: 2.5Gi
            ephemeral-storage: 5Gi

        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              failureThreshold: 10
              httpGet:
                path: /.backstage/health/v1/liveness
                port: 7007
                scheme: HTTP
              periodSeconds: 10
              successThreshold: 1
              timeoutSeconds: 4
          readiness:
            enabled: true
            custom: true
            spec:
              failureThreshold: 10
              httpGet:
                path: /.backstage/health/v1/readiness
                port: 7007
                scheme: HTTP
              periodSeconds: 10
              successThreshold: 2
              timeoutSeconds: 4
          startup:
            enabled: true
            custom: true
            spec:
              failureThreshold: 10
              httpGet:
                path: /.backstage/health/v1/liveness
                port: 7007
                scheme: HTTP
              initialDelaySeconds: 10
              periodSeconds: 20
              successThreshold: 1
              timeoutSeconds: 4

service:
  main:
    controller: main
    ports:
      http:
        port: 7007

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: "lab-issuer"
    hosts:
      - host: portal.lab.com
        paths:
          - path: /
            service:
              identifier: main
              port: http
    tls:
      - secretName: backstage-tls
        hosts:
          - portal.lab.com

persistence:
  app-config:
    enabled: true
    type: configMap
    name: backstage-app-config
    advancedMounts:
      main:
        main:
          - path: /opt/app-root/src/app-config.k8s.yaml
            subPath: app-config.k8s.yaml
            readOnly: true
  
  dynamic-plugins-root:
    enabled: true
    accessMode: ReadWriteOnce
    size: 5Gi
    advancedMounts:
      main:
        main:
          - path: /opt/app-root/src/dynamic-plugins-root
        install-dynamic-plugins:
          - path: /dynamic-plugins-root
  
  dynamic-plugins:
    enabled: true
    type: configMap
    name: backstage-dynamic-plugins
    advancedMounts:
      main:
        install-dynamic-plugins:
          - path: /opt/app-root/src/dynamic-plugins.yaml
            readOnly: true
            subPath: dynamic-plugins.yaml