command: 
  - /bin/bash 
  - /patches/start-with-patch.sh

envVars:
  STORE_MODEL_IN_DB: "true"
  SSL_CERT_FILE: /etc/ssl/certs/ca.crt
  LITELLM_LICENSE: "bypass"
  DOCS_TITLE: "MYLLM"
  GENERIC_CLIENT_ID: litellm
  GENERIC_CLIENT_SECRET: "tVphFDdl26D8yG8VrlhsPO7M9V5y9vls"
  GENERIC_AUTHORIZATION_ENDPOINT: "https://sso.lab.com/realms/lab/protocol/openid-connect/auth"
  GENERIC_TOKEN_ENDPOINT: "https://sso.lab.com/realms/lab/protocol/openid-connect/token"
  GENERIC_USERINFO_ENDPOINT: "https://sso.lab.com/realms/lab/protocol/openid-connect/userinfo"
  GENERIC_USER_ID_ATTRIBUTE: "preferred_username"
  GENERIC_USER_EMAIL_ATTRIBUTE: "email"
  GENERIC_USER_DISPLAY_NAME_ATTRIBUTE: "preferred_username"
  GENERIC_USER_FIRST_NAME_ATTRIBUTE: "given_name"
  GENERIC_USER_LAST_NAME_ATTRIBUTE: "family_name"
  GENERIC_INCLUDE_CLIENT_ID: "true"
  GENERIC_SCOPE: "openid profile email litellm"
  GENERIC_USER_ROLE_ATTRIBUTE: "litellm"
image:
  pullPolicy: IfNotPresent

podAnnotations:
  inject-certs: "enabled"

volumeMounts:
  - name: patch-scripts
    mountPath: /patches

volumes:
  - name: patch-scripts
    configMap:
      name: litellm-org-rate-limit-patch
      defaultMode: 0755

proxy_config:
  general_settings:
    litellm_jwtauth:
      team_ids_jwt_field: "groups"
    # custom_sso: "custom_sso.custom_sso_handler"
  
  litellm_settings:
    default_internal_user_params:
      user_role: "internal_user"

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: lab-issuer
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: "LiteLLM"
    gethomepage.dev/icon: "litellm.png"
  hosts:
    - host: llm.lab.com
      paths:
        - path: /
          pathType: Prefix
  tls:
   - secretName: litellm-tls
     hosts:
       - llm.lab.com


       