command:
  - /bin/bash
  - -c
args:
  - |
    sed -i '/def is_premium(self) -> bool:/a\        return True' /app/litellm/proxy/auth/litellm_license.py /usr/lib/python3.13/site-packages/litellm/proxy/auth/litellm_license.py 2>/dev/null
    sed -i 's/premium_user: bool = _license_check.is_premium()/premium_user: bool = True/g; s/premium_user = _license_check.is_premium()/premium_user = True/g' /app/litellm/proxy/proxy_server.py /usr/lib/python3.13/site-packages/litellm/proxy/proxy_server.py 2>/dev/null
    find /app /usr/lib/python3.13 -name "*.pyc" -delete 2>/dev/null; find /app /usr/lib/python3.13 -name __pycache__ -exec rm -rf {} + 2>/dev/null
    docker/prod_entrypoint.sh --config /etc/litellm/config.yaml
envVars:
  STORE_MODEL_IN_DB: "true"
  SSL_CERT_FILE: /etc/ssl/certs/ca.crt
  LITELLM_LICENSE: "bypass"
  DOCS_TITLE: "MYLLM"
  # LITELLM_LICENSE: "eyJleHBpcmF0aW9uX2RhdGUiOiAiMjAyNi0wMi0wOCIsICJ1c2VyX2lkIjogInRyaWFsLWxpY2Vuc2UtbGl0ZWxsbSIsICJhbGxvd2VkX2ZlYXR1cmVzIjogWyIqIl0sICJtYXhfdXNlcnMiOiAxMDAsICJtYXhfdGVhbXMiOiA1fS4AGH/wkeFQm+xFbezcZIh50px/NDwk7MIge0ZrNRroJDei+OMhh1l5rtBxA8SAzw4rmdAjtEM9BZPhrQcutuWuEvuaHBrRWBR6UT8q1HOkcMJD41wnmmHwb+ea7w+Qq7C0DxH7qgLOomBaSlzGsAH9m1Ftn3vI1I4ZGymJ/qyQlRw006tQUCKfWCnoicklNnxwVhuppCUQBYv7KBOs/I8m/rFT8K7yN1a7yMogLKQwwttHNhYaDD9NQR40XCzKwG8l3iV5V4coQVwEtn3Rplg8MGe5SJ38T1waLPhsAFw5xVvh84IFlBgXwsKgasesLwL81eLXUJvLZctk76Dfh5YZ"
image:
  pullPolicy: IfNotPresent

podAnnotations:
  inject-certs: "enabled"

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: lab-issuer
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: "LiteLLM"
    gethomepage.dev/icon: "litellm.png"
  hosts:
    - host: llm.lab.com
      paths:
        - path: /
          pathType: Prefix
  tls:
   - secretName: litellm-tls
     hosts:
       - llm.lab.com